<template>

 <v-data-table
	:headers="headers"
	:items="emails"
	class="elevation-1"
  >
	<template v-slot:items="props">
	  <td>{{ props.item.updated_at }}</td>
	  <td class="text-xs-right">{{ props.item.address }}</td>
	  <td class="text-xs-right">{{ props.item.from }}</td>
	  <td class="text-xs-right">{{ props.item.status_code }}</td>
	  <td class="text-xs-right">{{ props.item.attempted }}</td>
	  <td class="text-xs-right">{{ props.item.prrovider }}</td>
	</template>
  </v-data-table>

</template>

<script>
  
  export default {
	
	data () {
	  
	  return {
		
		headers: [
		  {
			text: 'Sent at',
			align: 'left',
			value: 'updated_at'
		  },
		  { text: 'Address', value: 'address' },
		  { text: 'From', value: 'from' },
		  { text: 'status', value: 'status_code' },
		  { text: 'Attempts', value: 'attempted' },
		  { text: 'Email Provider', value: 'provider' }
		],
		emails: []
	  }
	},

	mounted() {

		this.getEmails()
	},

	methods: {

		getEmails() {

			axios.get('/api/list/emails').then(response => {

				console.log(response.data)
				
				this.emails = response.data
			})
		}

	}

  }
</script>
