<template>
	<v-app id="inspire">
		<v-navigation-drawer
			v-model="drawer"
			fixed
			app
		>
			<v-list dense>
				<v-list-tile @click="active = 'list'">
					<v-list-tile-action>
						<v-icon>home</v-icon>
					</v-list-tile-action>
					<v-list-tile-content>
						<v-list-tile-title>Home</v-list-tile-title>
					</v-list-tile-content>
				</v-list-tile>
				<v-list-tile @click="active = 'send'">
					<v-list-tile-action>
						<v-icon>sendl</v-icon>
					</v-list-tile-action>
					<v-list-tile-content>
						<v-list-tile-title>Send Email</v-list-tile-title>
					</v-list-tile-content>
				</v-list-tile>
			</v-list>
		</v-navigation-drawer>
		<v-toolbar color="indigo" dark fixed app>
			<v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
			<v-toolbar-title>Mailer Service</v-toolbar-title>
		</v-toolbar>
		<v-content>
			<v-container fluid fill-height>
				<v-layout
					justify-center
					align-center
				>

						<mailer-grid v-show="active == 'list'"></mailer-grid>
				
						<send-mail v-show="active == 'send'"></send-mail>
				</v-layout>
			</v-container>
		</v-content>
		<v-footer color="indigo" app>
		</v-footer>
	</v-app>
</template>

<script>

import MailerGrid from './MailerGrid.vue'

import SendMail from './SendMail.vue'

	export default {

		components: {
			MailerGrid,
			SendMail
		},

		data: () => ({

			active: 'list',
			drawer: null

		}),

		props: {
			source: String
		},

	}
</script>