<template>
  <form>
    <v-text-field
      v-model="from"
      v-validate="'required|email'"
      :error-messages="errors.collect('email')"
      label="From address"
      data-vv-name="email"
      required
    ></v-text-field>
    <v-text-field
      v-model="name"
      v-validate="'required|max:10'"
      :counter="10"
      :error-messages="errors.collect('name')"
      label="Name"
      data-vv-name="name"
      required
    ></v-text-field>
    <v-text-field
      v-model="email"
      v-validate="'required|email'"
      :error-messages="errors.collect('email')"
      label="E-mail"
      data-vv-name="email"
      required
    ></v-text-field>
    <v-text-field
      v-model="subject"
      v-validate="'required|max:50'"
      :error-messages="errors.collect('subject')"
      label="Subject"
      data-vv-name="subject"
      required
    ></v-text-field>
    <v-text-field
      v-model="body"
      v-validate="'required'"
      :error-messages="errors.collect('body')"
      label="Body"
      data-vv-name="body"
      required
    ></v-text-field>
    <v-select
      v-model="provider"
      v-validate="'required'"
      :items="items"
      :error-messages="errors.collect('select')"
      label="Select provider"
      data-vv-name="select"
      required
    ></v-select>

    <v-btn @click="sendMail()">submit</v-btn>
    <v-btn @click="clear">clear</v-btn>
  </form>
</template>

<script>

  export default {
    
    $_veeValidate: {
    
        validator: 'new'
    },
       data: () => ({
      from: '',
      name: '',
      email: '',
      subject: '',
      body:'',
      provider: null,
      items: [
        'sendgrid_smtp',
        'mailjet_smtp',
        'sendgrid_api'
      ],
      dictionary: {
        attributes: {
          email: 'E-mail Address'
          
        },
        custom: {
          email:{
            required: () => 'To Email address can not be empty',
          },
          subject:{
            required: () => 'Email subject can not be empty',
          },
          name: {
            required: () => 'Name can not be empty',
            max: 'The name field may not be greater than 10 characters'
            // custom messages
          },
          select: {
            required: 'Select field is required'
          }
        }
      },
      
    }),

    mounted () {
      this.$validator.localize('en', this.dictionary)
    },

    methods: {

        sendMail() {

            let request = {
                Transaction: {
                    From: {
                        Email: this.from,
                        Name: 'From'
                    },
                    To: [
                        {
                            Email: this.email,
                            Name: this.name
                        }
                    ],
                    Subject: this.subject,
                    Body: this.body,
                    Options: {
                        provider: this.provider
                    }
                }
            }

            axios.post('/api/post/mail', request).then(response => {

            })

        }
        
    }

}
</script>

